// colors
$background-color: #e8e8ed;

// fonts
$body-bkgd: #E9EAEC;
$title-font: 'Caveat Brush', cursive;
$title-font-color: #57696c;
$main-font: 'Montserrat', sans-serif;
// $recipe-button-text-color: #a18f7a;
$recipe-button-text-color: #938574;
$card-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$dropdown-bkgd: #2b2d42;
$hover-magnify: scale(1.025);


// mixins
@mixin column-flex() {
  display: flex;
  flex-direction: column;
}

// @include column-flex();
