body {
  background-color: #a7bed3;
}

.hidden {
  display: none;
}

.dropbtn {
  background-color: #f5f8f5;
  color: rgb(3, 3, 3);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#recipe-container {
  border: 1px red solid;
}
#pool-and-search-parent {
  border: 1px greenyellow solid;
}

.search-and-filter {
  border: 1px orange solid;
}

.recipe-pool-view {
  border: 1px cyan solid;
}

.recipe-detail-view {
  border: 1px black solid;
}
